@media screen and (max-width: 950px) {
  .layout-wrap {
    position: relative;
  }

  .layout-left {
    position: absolute;
    width: 250px !important;
    left: -250px;
    z-index: 130;
    top: 0px;
    transition: all ease-in-out 0.3s;
  }

  .layout-right {
    width: 100%;
    border-left: none;
  }

  #icon-bars {
    display: inline-block !important;
  }

  #icon-bars-dev {
    display: none;
  }

  .table th,
  .table td {
    white-space: nowrap;
  }

  .login-form, .forget-password-form {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .login-form, .forget-password-form {
    width: 90%;
  }
}