* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body .container {
    max-width: 100%;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* layout */
.layout-wrap {
    display: flex;
    justify-content: start;
}

.layout-left {
    width: 15%;
    border-right: 1px solid #ddd;
    background: #0e768d;
    height: 100vh;
}
.layout-right {
    width: 85%;
    padding: 0px 10px;
}

.layout-left .menu-left{
    height: 100vh;
}

/*--------------------------------- MENU LEFT --------------------------------- */

.menu-left ul li {
    border-bottom: 1px solid #3e8787;
}

#users-page .menu-left ul .nav-item-user,
#account-page .menu-left ul .nav-item-account,
#animal-list .menu-left ul .nav-item-animal { background: #0a4a5e }

/*--------------------------------- LOGIN --------------------------------- */

.login-form {
    width: 25%;
    margin: 150px auto;
    padding: 20px;
    border: 3px solid #0e768d;
}

.login-form h2 {
    margin-bottom: 20px;
}

.forget-password { cursor: pointer; }


/*--------------------------------- ADMIN HEADER --------------------------------- */
.header {
    background: #0e768d;
    border-bottom: 2px solid #ddd;
}
.header__logout { 
    cursor: pointer;
}

.header-avt-user img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

/*--------------------------------- USERS --------------------------------- */
.list-users { width: 60%; }
.icon-delele-user,
.icon-update-user { cursor: pointer; }
.user-form { width: 40%; }


/* --------------------------------- ACCOUNT --------------------------------- */
.account__info__left--avt-file { display: none !important; }

.account__info__left--avt img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: #333;
    border-radius: 10px;
}

.account__info__left--avt { position: relative; }
.account__info__left--avt .icon-edit-avt {
    position: absolute;
    bottom: 15px;
    right: 25px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-edit-avt:hover { color: #17a2b8}


/* Search */
/* Styles for wrapping the search box */

.main-search {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

 .search-box table{
    margin: auto;
}

.search-box table input{
    width: 500px;
    border-radius: 5px;
}
#result{
    position: absolute;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    width: 100%;
}

#result a{
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
}

#result a:hover{
  background-color: lightblue;
}

/* Search */



/* Input hình */
input[type="file"] {
    display: block;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    background: white;
    color: black;
  }
  
/* Input hình */

/*btn form Thêm*/
#form-cn {
    /* margin-top: 100%; */
    display: none;
}

/* #btn-animal-cn{
    float: right;
    width: 200px;
} */
/*btn form Thêm*/

 /* Danh sách*/
.gridtable tbody {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
  }
  .gridtable thead,
  .gridtable tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .gridtable thead {
    width: calc(100% - 1.1em);
  }
  .gridtable thead {
    position: relative;
  }
  .gridtable thead th:last-child:after {
    content: " ";
    position: absolute;
    background-color: #17a2b8;
    width: 1.3em;
    height: 50px;
    right: -1.3em;
    top: 0;
    border-bottom: 2px solid #ddd;
  }

  .gridtable table th{
    color: white;
  }
  /* Bảng chi tiết */

  /* body {
    font-family: sans-serif;
    font-size: 1em;
    color: #333;
    padding: 2em;
    line-height: 1.3;
  } */
  .list-numbered img {
    display: block;
    margin: 1em 0;
  }
  .list-numbered ul,
  ol {
    margin: 0 0 1.5em 2em;
    word-wrap: break-word;
  }
  .list-numbered {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
  }
  .list-numbered > li {
    position: relative;
    margin: 0 0 2rem 1.5rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    list-style: none;
    border-left: 0.5px solid #ccc;
  }
  .list-numbered > li:before {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -0.4rem;
    left: -1.5rem;
    box-sizing: border-box;
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    border: 0.5px solid #ccc;
    background-color: #ffffff;
    border-radius: 50%;
  }






  /*.chitiet table th{
    color: white;
  }
  /* Bảng chi tiết */
  .gridtable table td{
    text-align: center;
    
  }
   /* Danh sách*/

   /* Form sửa */

#form-suachua  .gridtable tbody {
    display: block;
    max-height: 700px;
    overflow-y: scroll;
  }

#form-suachua  .gridtable tbody {
    text-align: center;
  }
  #form-suachua  .gridtable tbody input{
    width: 100%;
  }
  /* Form sửa */