<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule (.*)(\.html)$ /tuongtacnguoimay/web-tuong-tac-nguoi-may/index.php
	RewriteRule ^([a-zA-Z0-9-]+)\/([a-zA-Z0-9-]+)\/([a-zA-Z0-9-]+)$ /tuongtacnguoimay/web-tuong-tac-nguoi-may/index.php?op=$1&level1=$2&level2=$3 [L]
	RewriteRule ^([a-zA-Z0-9-]+)\/([a-zA-Z0-9-]+)$ /tuongtacnguoimay/web-tuong-tac-nguoi-may/index.php?op=$1&level1=$2 [L]
	RewriteRule ^([a-zA-Z0-9-]+)$ /tuongtacnguoimay/web-tuong-tac-nguoi-may/index.php?op=$1 [L]
</IfModule>